.containerContact{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contactOptions{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.contactOption{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transiyon);
}

.contactOption:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.contactOption svg{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.contactOption a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

.containerContact form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.containerContact form input,.containerContact form textarea{   
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}

.containerContact form button{
    font-size: 18px;
    padding: 18px 30px;
}

@media (max-width:1024px) {
        .containerContact{
            grid-template-columns: 1fr ;
            gap: 2rem;
        }    
}

@media (max-width:600px) {
    .containerContact{
        width: 90%;
    }    
}