@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --color-bg:#1f1f38;
    --color-bg-variant:#2c2c6c;
    --color-primary:#4db5ff;
    --color-primary-variant:rgba(77, 181, 255,0.1);
    --color-white:#fff;
    --color-light:rgba(255,255,255,0.6);
    --transition: all 0.4s ease;
}
::-webkit-scrollbar{
    display: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
    background-image: url('./assets/bg-texture.png');
}
.container{
    width: 80%;
    margin: 0 auto;
}
h1,h2,h3,h4,h5{
   font-weight: 500 ;
}
h1{
    font-size: 2.5rem;
}
section{
    padding-top: 8rem;
}

.text-light{
    color: var(--color-light);
}

a{
    color: var(--color-primary);
    transition: var(--transition);

}
a:hover{
    color: var(--color-white);
}
.btn{
    max-width: max-content;
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}
.btn:hover{
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}
.btn-primary{
    background: var(--color-primary);
    color: var(--color-bg);
}
img{
    max-width: 100%;
    display: block;
    object-fit: cover;
}
.topSection h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.topSection h5 {
    text-align: center;
    color: var(--color-light);
}

/* Responsive Media Queries tablet */

@media (max-width:1024px) {
    .container{
        width: 85%;

    }
    section{
        padding-top: 6rem;
    }
}
/* Responsive Media Queries mobile */
@media (max-width:600px) {
    .container {
        width: 90%;

    }

    section {
        padding-top: 5rem;
    }
}