.aboutContainer{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.aboutMe{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background:linear-gradient( 45deg , transparent,var(--color-primary),transparent) ;
}
.aboutMeImage{
    transform: rotate(10deg);
    border-radius: 2rem;
    overflow: hidden;
    transition: var(--transition);
}
.aboutMeImage:hover{
    transform: rotate(0deg);
}

.aboutCards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}
.aboutCard{
    background: var(--color-bg-variant);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.aboutCard:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}
.aboutIcon{
    font-size: 2rem;
    color: var(--color-primary);
    margin-bottom: rem;
}
.aboutCard h5{

    font-size: 0.9rem;
}
.aboutCard small{
    font-size: 0.7rem;
    color: var(--color-light);
}
.aboutContent p{
    margin: 2rem 0 2.6rem 0;
    color: var(--color-light);
  }

.topSection h2{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary); 
}
.topSection h5{
    text-align: center;
    color: var(--color-light);
}
/* Responsive Media Queries tablet */
@media (max-width:1024px) {
    .aboutContainer{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .aboutMe{
        width: 50%;
        margin: 2rem auto 4rem;
    }
    .aboutContent p{
        margin: 1rem 0 1.5rem 0;
    }
    .aboutCards{
        grid-template-columns: repeat(2,1fr);
    }
    
}

@media( max-width:600px) {
    .aboutMe {
            width: 65%;
            margin: 0 auto 3rem;
    }
    .aboutCards{
        grid-template-columns: 1fr 1fr;
    gap: 1rem;  
    }  
    .aboutContent{
        text-align: center;
    }
    .aboutContent p{
        margin: 1.5rem 0;
    }   
    .topSection h2{
        margin-bottom: 2rem;
    }
}